@import "../../../styles/mixins";

.cert__wrapper {
  min-height: 200px;
  padding: 20px 0;
}

.cert__success {
  color: var(--status-success)
}

.cert__error {
  color: var(--status-danger)
}

.cert__wrapper .rf-menu{
  padding-bottom: 24px ;
}
