@import '../../../styles/mixins';

.rf-badge__wrapper {
  display: inline-flex;
  position: relative;
}

.rf-badge {
  position: absolute;
  top: 0;
  right: 0;

  min-width: 20px;

  padding: 0 6px;

  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  z-index: 1;
  border-radius: 10px;
  transform: translate(50%, -50%);

  @include caption;
  cursor: inherit;
}

.badge-size--m {
  height: 20px;
  min-width: 23px;
  font-size: 14px;
}
.badge-size--s {
  height: 16px;
  min-width: 17px;
  font-size: 12px;
}

.rf-badge--text {
  transform: translate(100%, -50%);
}

.rf-badge--near {
  align-items: center;

  .rf-badge {
    transform: translate(0, 0);
    position: static;
    margin-left: 8px;
    height: 16px;
    min-width: 16px;
    padding: 0 5px;
    border-radius: 8px;
  }
}

.rf-badge--light {
  background-color: var(--background-tertiary);
}

.rf-badge--info {
  background-color: var(--basic-primary);
  color: var(--text-static-white);
}
.rf-badge--warning {
  background-color: var(--special-yellow);
  color: var(--text-static-white);
}
.rf-badge--success {
  background-color: var(--special-green);
  color: var(--text-static-white);
}
.rf-badge--error {
  background-color: var(--status-danger);
  color: var(--text-static-white);
}
.rf-badge--grey {
  background-color: var(--text-secondary);
  color: var(--text-static-white);
}
.rf-badge--dark {
  background-color: var(--text-primary);
  color: var(--text-static-white);
}
.rf-badge--light-inactive {
  background-color: var(--background-tertiary);
  color: var(--text-secondary);
}
.rf-badge--light-disable {
  background-color: var(--background-tertiary);
  color: var(--text-tertiary);
}
.rf-badge--white {
  background-color: var(--background-primary);
  color: var(--text-primary);
}
.rf-badge--white-inactive {
  background-color: var(--background-primary);
  color: var(--text-secondary);
}
.rf-badge--white-disable {
  background-color: var(--background-primary);
  color: var(--text-tertiary);
}

.rf-badge--turquoise {
  background-color: var(--special-turquoise);
  color: var(--text-static-white);
}

.rf-badge--dot--m {
  @include round(16px);
  padding: 0;
  border: 2px solid var(--base-000);
  box-sizing: content-box;
}
.rf-badge--dot--s {
  @include round(12px);
  padding: 0;
  border: 2px solid var(--base-000);
  box-sizing: content-box;
}
