@import '../../../styles/mixins';

.rf-badge__wrapper {
  display: inline-flex;
  position: relative;
}

.rf-badge {
  position: absolute;
  top: 0;
  right: 0;

  min-width: 20px;
  height: 20px;
  padding: 0 6px;

  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  z-index: 1;
  border-radius: 10px;
  transform: translate(50%, -50%);

  @include caption;
  cursor: inherit;
}

.rf-badge--near {
  align-items: center;

  .rf-badge {
    transform: translate(0, 0);
    position: static;
    margin-left: 8px;
    height: 16px;
    min-width: 16px;
    padding: 0 5px;
    border-radius: 8px;
  }
}

.rf-badge--default {
  background-color: var(--background-tertiary);
}

.rf-badge--blue {
  background-color: var(--special-blue);
  color: var(--text-static-white);
}

.rf-badge--lightBlue {
  background-color: var(--special-lightBlue);
  color: var(--text-static-white);
}

.rf-badge--turquoise {
  background-color: var(--special-turquoise);
  color: var(--text-static-white);
}

.rf-badge--green {
  background-color: var(--status-success);
  color: var(--text-static-white);
}

.rf-badge--grey {
  background-color: var(--text-secondary);
  color: var(--text-static-white);
}
.rf-badge--yellow {
  background-color: var(--status-warn);
  color: var(--text-static-white);
}

.rf-badge--red {
  background-color: var(--status-danger);
  color: var(--text-static-white);
}

.rf-badge--dark {
  background-color: var(--background-inversion);
  color: var(--text-static-white);
}

.rf-badge--magenta {
  background-color: var(--special-magenta);
  color: var(--text-static-white);
}

.rf-badge--purple {
  background-color: var(--special-purple);
  color: var(--text-static-white);
}

.rf-badge--violet {
  background-color: var(--special-violet);
  color: var(--text-static-white);
}

.rf-badge--tertiary {
  background-color: var(--background-tertiary);
  color: var(--basic-secondary);
}

.rf-badge--light-inactive {
  background-color: var(--background-tertiary);
  color: var(--text-secondary);
}

.rf-badge--light-disable {
  background-color: var(--background-tertiary);
  color: var(--text-tertiary);
}

.rf-badge--white {
  background-color: var(--background-primary);
  color: var(--text-primary);
}

.rf-badge--white-inactive {
  background-color: var(--background-primary);
  color: var(--text-secondary);
}

.rf-badge--white-disable {
  background-color: var(--background-primary);
  color: var(--text-tertiary);
}

.rf-badge--s {
  @include round(16px);
  width: 17px;
  padding: 0;
  border: 2px solid var(--base-000);
  box-sizing: content-box;
}

.rf-badge--m {
  width: 23px;
  height: 20px;
  padding: 0;
  border: 2px solid var(--base-000);
  box-sizing: content-box;
  transform: translate(20%, -50%);
}
.rf-badge--dot {
  @include round(16px);
  padding: 0;
  border: 2px solid var(--base-000);
  box-sizing: content-box;
}

.rf-badge--text {
  transform: translate(120%, 0%);
}
