@import "src/styles/mixins";

.rf-avatar-status {
  display: flex;
  align-items: center;
  justify-content: center;
}

.rf-avatar-status__avatar-wrapper {
  position: relative;
}

.rf-avatar-status__border-wrapper {
  position: absolute;
  top: 0;
}

.rf-avatar-status__border-size_xs {
  @include elemSize(24px);
}

.rf-avatar-status__border-size_s {
  @include elemSize(32px);
}

.rf-avatar-status__border-size_m {
  @include elemSize(40px);
}

.rf-avatar-status__border-size_l {
  @include elemSize(48px);
}

.rf-avatar-status__border-color_default,
.rf-avatar-status__border-color_blue {
  color: var(--basic-primary);
}

.rf-avatar-status__border-color_green {
  color: var(--status-success);
}

.rf-avatar-status__border-color_yellow {
  color: var(--status-warn);
}

.rf-avatar-status__border-color_red {
  color: var(--status-danger);
}

.rf-avatar-status__border-color_none{
  color: var(--background-tertiary-hover);
}

.rf-avatar-status__badge {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  //width: 14px;
  //height: 14px;
  border-radius: 50%;
  //padding-left: 1px;
}

.rf-avatar-status__icon-style {
  width: 14px;
  height: 14px;
  color: var(--background-primary);
}

.rf-avatar-status__icon-style_cross {
  width: 7px;
  height: 7px;
  color: var(--background-primary);
}

.rf-avatar-status__badge-border-size_xs,
.rf-avatar-status__badge-border-size_s,
.rf-avatar-status__badge-border-size_m {
  border: 2px solid var(--background-primary);
}

.rf-avatar-status__badge-border-size_l {
  border: 3px solid var(--background-primary);
}

.rf-avatar-status__badge-color_default,
.rf-avatar-status__badge-color_blue {
  background-color: var(--basic-primary);
}

.rf-avatar-status__badge-color_green {
  background-color: var(--status-success);
}

.rf-avatar-status__badge-color_yellow {
  background-color: var(--status-warn);
}

.rf-avatar-status__badge-color_red {
  background-color: var(--status-danger);
}

.rf-avatar-status__badge-color_none{
  background-color: var(--background-tertiary-hover);
}