@import "../../../styles/mixins";

.rf-card {
  display: flex;
  align-items: center;
  margin-bottom: 12px;

  &:last-of-type {
    margin-bottom: 0;
  }
}

.rf-card__entity-wrapper {
  display: flex;
  padding: 12px 16px 12px 12px;
  width: 840px;
  background: var(--background-secondary);
  border-radius: 12px;
}

.rf-card__entity-photo-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 16px;
}

.rf-card__entity-info-wrapper {
  display: flex;
  flex-direction: column;
}

.rf-card__entity-row {
  display: flex;
  align-items: center;
}

.rf-card__entity-full-name {
  @include text-m-16();
  font-weight: bold;
}

.rf-card__entity-role {
  color: var(--text-secondary);
  white-space: pre-wrap;
}

.rf-card__entity-additional {
  @include text-m-16();
  color: var(--text-secondary);
  margin-right: 8px;
}

.rf-card__entity-accent {
  margin-right: 12px;
  color: var(--text-primary);
}

.rf-card__entity-accent_number {
  margin-right: 8px;
}

.rf-card__icon-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--basic-tertiary);
  margin-right: 16px;
  cursor: pointer;
}

.rf-card__tooltip-text {
  display: block;
  white-space:nowrap;
}

.rf-card__toast-text {
  @include text-xs-14();
  color: var(--text-secondary);
}
