.rf-attachments {
  display: flex;
  flex-wrap: wrap;

  .rf-attachments__chip {
    margin-right: 12px;
    margin-bottom: 12px;

    &:last-child {
      margin-right: 0px;
    }
  }

  .rf-attachments__loader {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    margin-bottom: 4px;
  }
}
