@import 'src/styles/mixins';

.rf-find-entities {
  display: flex;
  flex-direction: column;
  width: calc(100vw - 64px);
  max-width: 844px;
  height: calc(100vh - 64px);
  padding-top: 20px;

  &__title {
    @include h5;
    padding: 0 32px;
  }

  &__subtitle {
    @include text-m-16;
    margin-top: 12px;
    color: var(--text-secondary);
  }

  &__search {
    position: relative;
    margin: 24px 32px;
    max-width: 300px;
  }

  &__filters {
    margin-bottom: -24px;
    padding: 0 32px;
  }

  &__list {
    overflow: auto;
    padding: 8px 32px 24px;
    position: relative;
    min-height: 0;
    flex: 1 auto;
  }

  &__empty-state {
    padding: 8px 32px 24px;
    position: relative;
  }

  &__footer {
    border-top: 1px solid var(--background-tertiary);
    padding: 20px 32px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-shrink: 0;
  }

  &__footer-button {
    margin-right: 16px;

    &:last-child {
      margin-right: 0;
    }
  }

  &__empty-state {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 20px 0;
  }

  &__empty-state-icon {
    margin-bottom: 20px;
    width: 80px;
    height: 80px;
    background-color: var(--special-softBlue);
    color: var(--special-blue);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
  }

  &__empty-state-title {
    margin-bottom: 12px;
    color: var(--basic-secondary);
  }

  &__empty-state-subtitle {
    @include text-m-16;
    color: var(--basic-tertiary);
  }

  &__preloader-wrap {
    padding: 40px 0;
  }

  .rf-find-entities__preloader {
    position: relative;
    flex-shrink: 0;
    min-height: 60px;
  }
}
