@import 'src/styles/mixins';

.status-picker__container {
  display: flex;
  padding-left: 4px;
  margin-bottom: 16px;
  flex-direction: row;
  input {
    display: none;
  }
  label {
    @include text-s-14;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90px;
    height: 40px;
    border-color: var(--background-tertiary);
    border-width: 0.5px;
    border-bottom-width: 1px;
    border-top-width: 1px;
    border-style: solid;
    box-sizing: border-box;
    cursor: pointer;
    &:hover {
      background-color: var(--background-secondary);
    }
  }
}
.status-picker__items:first-child {
  label {
    border-left-width: 1px;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
  }
}
.status-picker__items:last-child {
  label {
    border-right-width: 1px;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
  }
}

.status-picker__label--low {
  background-color: var(--special-softGreen);
  color: var(--status-success) !important;
}
.status-picker__label--medium {
  color: var(--status-warn) !important ;
  background-color: var(--special-softYellow);
}
.status-picker__label--high {
  color: var(--status-danger) !important ;
  background-color: #ffe5e7;
}

.status-picker__label--disabled {
  color: var(--text-tertiary) !important;
  background-color: var(--background-secondary);
}
