@import "src/styles/mixins";

.rf-employee {
  cursor: default;
}

.rf-employee__tile {
  box-shadow: 0px 2px 6px 0px #193B6826;
  border-radius: 20px;
}
.rf-employee__tile--disable-shadow{
  box-shadow: none;
  padding:0
}

.rf-employee__title {
  @include h6;
  padding-bottom: 20px;
}

.rf-employee__details-wrapper {
  display: flex;
  align-items: flex-start;
}

.rf-employee__details {
  margin-left: 16px;
}

.rf-employee__name-container {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

.rf-employee__name {
  @include h5;
}

.rf-employee__info {
  @include text-m-16;
  color: var(--basic-tertiary);
  &:not(:last-child) {
    margin-bottom: 4px;
  }
}

.rf-employee__info-department {
  display: inline-flex;
  align-items: center;
}

.rf-employee__department-icon {
  margin-left: 8px;
  color: var(--basic-tertiary);
  cursor: pointer;
}

.rf-employee__button {
  @include text-l-16;
  display: flex;
  margin-top: 20px;
  color: var(--basic-primary);
  &:hover {
    cursor: pointer;
  }
}
