@import '../../../../styles/mixins';
@import '../../../../styles/variables';

.rf-time-element {
  box-sizing: border-box;
  @include text-m-16();
  margin-right: 4px;
  padding: 6px 12px;
  border-radius: 4px;
  letter-spacing: normal;
  width: 66px;
  color: var(--text-primary);
  background-color: var(--background-secondary);

  &--active {
    background-color: var(--basic-primary);
    color: var(--text-inversion);
  }
}

.rf-time-element__item-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 4px;
}

.rf-time-element:disabled {
  color: var(--text-tertiary);
  background-color: var(--background-card);
  pointer-events: none;
}

.rf-time-element:hover {
  color: var(--text-inversion);
  background-color: var(--basic-hover);
}

.rf-time-element:active {
  color: var(--text-inversion);
  background-color: var(--basic-press);
}

//.rf-time-element:disabled {
//  color: var(--text-tertiary);
//  background-color: var(--background-card);
//}

.rf-time-element__wrapper {
  max-width: 300px;
  overflow: hidden;
}

.rf-time-element__header-container {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

.rf-time-element__flex {
  display: flex;
}

.rf-time-element__translate {
  width: 200%;
  transition: transform 0.2s ease-in;

  .rf-time-element__column:last-child {
    opacity: 0;
  }
}

.element__translate--active {
  transform: translateX(-50%);
}

.element__translate--active {
  .rf-time-element__column:first-child {
    opacity: 0;
    height: 0px;
  }

  .rf-time-element__column:last-child {
    opacity: 1;
  }
}

.rf-time-element__column {
  width: 100%;
  padding: 12px;
}

.rf-time-element__name {
  @include text-xs-14();
  line-height: 24px;
  color: var(--text-secondary);
}

.rf-time-element__btn {
  display: flex;
  align-items: center;
  color: var(--basic-tertiary);

  > span {
    margin-left: 4px;
  }
}

.rf-time-element__icon {
  transform: rotate(90deg);
  width: 24px;
  height: 24px;
}

.rf-time-element:last-of-type {
  margin-right: 0;
}

.rf-time-element__item-row:last-of-type {
  margin-bottom: 0;
}
