@import '../../../styles/mixins';

.rf-chip {
  display: inline-flex;
  align-items: center;
  border-radius: 20px;
  border: 1px solid transparent;
  cursor: default;
}

.rf-chip.rf--s {
  @include text-s-14;
  height: 32px;
  padding: 6px 12px;
}

.rf-chip.rf--m {
  @include text-l-16;
  height: 40px;
  padding: 8px 12px;
}

.rf-chip.rf-chip--primary {
  background-color: var(--basic-primary);
  border-color: var(--basic-primary);
  color: var(--text-static-white);
}

.rf-chip.rf-chip--secondary {
  background-color: var(--background-secondary);
  border-color: var(--background-secondary);
  color: var(--text-secondary);
}

.rf-chip.rf-chip--outline {
  background-color: transparent;
  border-color: var(--basic-primary);
  color: var(--basic-primary);
}

.rf-chip--clickable {
  cursor: pointer;
}

.rf-chip--default {
  background-color: var(--background-secondary);
  color: var(--text-secondary);
}

.rf-chip__right-icon {
  margin-left: 6px;
  color: inherit;
  cursor: pointer;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}

.rf-chip__not-clickable {
  cursor: auto;
}

.rf-chip__left-icon {
  margin-right: 6px;
  color: inherit;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}

.rf-chip.rf--s,
.rf-chip.rf--xs {
  .rf-chip__right-icon,
  svg {
    width: 20px;
    height: 20px;
  }
}
