@import "../../../styles/mixins";
@import "../../../styles/variables";

.fatal-error {
  background-color: transparent;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.fatal-error__label {
  @include h5;
  display: inline-block;
  text-align: center;
  width: 480px;
  margin-top: 20px;
  margin-bottom: 16px;
  white-space: pre-wrap;
}

.fatal-error__message {
  @include text-m-16;
  display: inline-block;
  width: 480px;
  text-align: center;
  color: var(--text-secondary);
  white-space: pre-wrap;
}


