@import "../../../styles/mixins";
@import "../../../styles/variables";

.fatal-error {
  background-color: transparent;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.fatal-error__label {
  display: inline-block;
  width: 480px;
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 36px;
  margin-bottom: 16px;
}

.fatal-error__message {
  display: inline-block;
  width: 480px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
}


