@import 'src/styles/mixins';

.rf-search {
  height: 40px;
  width: 100%;
  position: relative;
}

.rf-search__input {
  width: 100%;
  height: 100%;
  padding: 8px 36px 8px 46px;
  @include text-l-16;
  border: 2px solid var(--background-secondary);
  outline: 0;
  border-radius: 20px;
  background-color: var(--background-secondary);
  transition: 0.15s ease-in-out;

  &::placeholder {
    color: var(--text-secondary);
  }

  &:focus {
    background-color: var(--background-primary);
    border-color: var(--basic-press);

    & + .rf-search__search-icon {
      color: var(--basic-press);
    }
  }
}

.rf-search__search-icon {
  position: absolute;
  top: 50%;
  left: 14px;
  transform: translateY(-50%);
  color: var(--basic-tertiary);
  pointer-events: none;
  transition: 0.15s ease-in-out;
}

.rf-search__close-icon {
  position: absolute;
  top: 50%;
  right: 14px;
  transform: translateY(-50%);
  color: var(--basic-tertiary);
  cursor: pointer;
  z-index: 9999;
}

.rf-search__close-withEndAdornment {
  right: 40px;
}

.rf-search__endAdornment {
  display: flex;
  position: absolute;
  top: 50%;
  right: 14px;
  transform: translateY(-50%);
  color: var(--basic-tertiary);
  cursor: pointer;
}

.task-panel__search {
  width: 100%;
  max-width: 50%;
  transition: 0.5s;
}

.task-panel__search.expand {
  max-width: 100%;
}
