@import "src/styles/mixins";

.rf-schedule {
  &__calendars {
    display: flex;
  }

  &__calendar {
    padding-top: 16px;
  }

  &__heading {
    display: flex;
    align-items: center;
    margin-bottom: 12px;

    &_start {
      justify-content: flex-start;
    }

    &_end {
      justify-content: flex-end;
    }
  }

  &__date {
    @include text-l-16-bold;
    margin: 0 auto;

    &:first-child {
      padding-left: 24px;
    }

    &:last-child {
      padding-right: 24px;
    }
  }

  &__separator {
    margin: 0 34px;
    width: 1px;
    flex-shrink: 0;
    background-color: var(--background-tertiary);
  }

  &__button {
    margin: -4px;
  }

  &__chevron {
    color: var(--basic-tertiary)
  }
}
