:root {
  --basic-primary: #0D69F2;
  --basic-secondary: #2B313B;
  --basic-tertiary: #8A96A8;
  --basic-hover: #0A54C2;
  --basic-press: #0949AA;
  --basic-disable: #C4CAD4;
  --basic-primary-light: #6EA5F7;

  --background-primary: #FFFFFF;
  --background-secondary: #F1F2F4;
  --background-tertiary: #E2E5E9;
  --background-tertiary-hover: #D3D8DE;
  --background-card: #FFFFFF;
  --background-card-hover: #FFFFFF;
  --background-inversion: #2B313B;
  --background-shadow: #8A96A8;
  --background-header: #0949AA;
  --background-danger: #FEF0F1;
  --background-warn: #FFF7F0;
  --background-success: #F2FCF5;

  --text-primary: #2B313B;
  --text-secondary: #626F84;
  --text-tertiary: #A7B0BE;
  --text-inversion: #FFFFFF;
  --text-static-white: #FFFFFF;
  --text-static-black: #2B313B;

  --status-warn: #FF8C19;
  --status-warn-hover: #E57300;
  --status-warn-press: #CC6600;

  --status-success: #2ABB5B;
  --status-success-hover: #219246;
  --status-success-press: #1C7D3C;

  --status-danger: #DA0B20;
  --status-danger-hover: #A90919;
  --status-danger-press: #910815;

  --special-blue: #3F7DFE;
  --special-softBlue: #E6EEFF;
  --special-lightBlue: #0ABBFB;
  --special-softLightBlue: #E6F8FF;
  --special-turquoise: #4AD2CA;
  --special-softTurquoise: #EAFAF9;
  --special-green: #5ECF70;
  --special-softGreen: #EBF9EE;
  --special-yellow: #FFAF37;
  --special-softYellow: #FFF5E6;
  --special-red: #FF525C;
  --special-softRed: #FFE6E7;
  --special-magenta: #E052BD;
  --special-softMagenta: #FBE9F7;
  --special-purple: #BF67C7;
  --special-softPurple: #F7ECF8;
  --special-violet: #8742F0;
  --special-softViolet: #F0E7FD;
  --special-gray: #98ABCD;
  --special-softGray: #EDF1F8;

  --4: 4px;
  --8: 8px;
  --12: 12px;
  --16: 16px;
  --20: 20px;
  --24: 24px;
  --32: 32px;

// старые переменные !!!!! НЕ ИСПОЛЬЗОВАТЬ !!!!!!!!!!!!!
--base-000: #FFFFFF;
--base-100: #F7F9FC;
--base-150: #F0F4FA;
--base-200: #E4E9F2;
--base-300: #C5CEE0;
--base-400: #8F9BB3;
--base-500: #5D6A87;
--base-600: #2E3A59;
--base-700: #222B45;
--base-800: #192038;
--base-900: #151A30;
--base-1000: #000000;

--accent-100: #F2F6FF;
--accent-200: #D9E4FF;
--accent-300: #A6C0FF;
--accent-400: #5987FF;
--accent-500: #3369FF;
--accent-600: #274FDB;
--accent-700: #1A3AB8;
--accent-800: #102894;
--accent-900: #091C7A;

--info-100: #F2F8FF;
--info-200: #C7E4FF;
--info-300: #94D0FF;
--info-400: #42B6FF;
--info-500: #00AAFF;
--info-600: #0081D6;
--info-700: #0069C2;
--info-800: #0050A8;
--info-900: #003785;

--complement-100: #FFF2FA;
--complement-200: #FFD9EF;
--complement-300: #FFA6DA;
--complement-400: #FF59BA;
--complement-500: #E42896;
--complement-600: #CA0075;
--complement-700: #AF0467;
--complement-800: #95075A;
--complement-900: #7A094B;

--faint-100: rgba(93, 106, 135, 0.08);
--faint-200: rgba(93, 106, 135, 0.16);
--faint-300: rgba(93, 106, 135, 0.24);
--faint-400: rgba(93, 106, 135, 0.32);
--faint-500: rgba(93, 106, 135, 0.4);
--faint-600: rgba(93, 106, 135, 0.48);
--faint-900: rgba(2, 2, 3, 0.8);

--success-100: #F0FFF5;
--success-200: #CCFCE3;
--success-300: #8CFAC7;
--success-400: #2CE59B;
--success-500: #00D68F;
--success-600: #00B887;
--success-700: #00997A;
--success-800: #007D6C;
--success-900: #004A45;

--warning-100: #FFFDF2;
--warning-200: #FFF1C2;
--warning-300: #FFE59E;
--warning-400: #FFC94D;
--warning-500: #FFAA00;
--warning-600: #DB8B00;
--warning-700: #B86E00;
--warning-800: #945400;
--warning-900: #703C00;

--danger-100: #FFF2F2;
--danger-200: #FFD6D9;
--danger-300: #FFA8B4;
--danger-400: #FF708D;
--danger-500: #FF3D71;
--danger-600: #DB2C66;
--danger-700: #B81D5B;
--danger-800: #94124E;
--danger-900: #700940;

--shadow-strong: 0 15px 30px rgba(0, 2, 82, 0.15);
--shadow-weak: 0 2px 4px rgba(0, 2, 82, 0.2);
--basic-shadow-long: 0px 2px 16px rgba(25, 59, 104, 0.1), 0px 8px 32px rgba(25, 59, 104, 0.15);
--basic-shadow: 0px 0px 32px rgba(0, 40, 130, 0.25)
}

// Брейкпоинты
$mobile: 320px;
$mobileLarge: 700px;
$tablet: 768px;
$desktopMin: 1024px;
$desktopMiddle: 1280px;
$desktop: 1440px;
