:root {
  --basic-primary: #0d69f2;
  --basic-secondary: #2b313b;
  --basic-tertiary: #8a96a8;
  --basic-hover: #0a54c2;
  --basic-press: #0949aa;
  --basic-disable: #c4cad4;
  --basic-primary-light: #6ea5f7;

  --background-primary: #ffffff;
  --background-secondary: #f1f2f4;
  --background-tertiary: #e2e5e9;
  --background-tertiary-hover: #d3d8de;
  --background-card: #ffffff;
  --background-card-hover: #ffffff;
  --background-inversion: #2b313b;
  --background-shadow: #8a96a8;
  --background-header: #0949aa;
  --background-danger: #fef0f1;
  --background-warn: #fff7f0;
  --background-success: #f2fcf5;

  --text-primary: #2b313b;
  --text-secondary: #626f84;
  --text-tertiary: #a7b0be;
  --text-inversion: #ffffff;
  --text-static-white: #ffffff;
  --text-static-black: #2b313b;

  --status-warn: #ff8c19;
  --status-warn-hover: #e57300;
  --status-warn-press: #cc6600;

  --status-success: #2abb5b;
  --status-success-hover: #219246;
  --status-success-press: #1c7d3c;

  --status-danger: #da0b20;
  --status-danger-hover: #a90919;
  --status-danger-press: #910815;

  --special-blue: #3f7dfe;
  --special-softBlue: #e6eeff;
  --special-lightBlue: #0abbfb;
  --special-softLightBlue: #e6f8ff;
  --special-turquoise: #4ad2ca;
  --special-softTurquoise: #eafaf9;
  --special-green: #5ecf70;
  --special-softGreen: #ebf9ee;
  --special-yellow: #ffaf37;
  --special-softYellow: #fff5e6;
  --special-red: #ff525c;
  --special-softRed: #ffe6e7;
  --special-magenta: #e052bd;
  --special-softMagenta: #fbe9f7;
  --special-purple: #bf67c7;
  --special-softPurple: #f7ecf8;
  --special-violet: #8742f0;
  --special-softViolet: #f0e7fd;
  --special-gray: #98abcd;
  --special-softGray: #edf1f8;

  --4: 4px;
  --8: 8px;
  --12: 12px;
  --16: 16px;
  --20: 20px;
  --24: 24px;
  --32: 32px;
  --shadow-clicable-active: 0px 2px 4px rgba(138, 150, 168, 0.4), 0px -2px 2px rgba(138, 150, 168, 0.08);
  --shadow-clicable-default: 0px 4px 8px rgba(138, 150, 168, 0.4), 0px -2px 4px rgba(138, 150, 168, 0.08);
  --shadow-non-clicable: 0px 4px 16px rgba(138, 150, 168, 0.4), 0px 0px 6px rgba(138, 150, 168, 0.08);
  --shadow-clicable-hover: 0px 8px 16px rgba(138, 150, 168, 0.4), 0px -2px 8px rgba(138, 150, 168, 0.08);

// старые переменные !!!!! НЕ ИСПОЛЬЗОВАТЬ !!!!!!!!!!!!!
--base-000: #FFFFFF;
--base-100: #F7F9FC;
--base-150: #F0F4FA;
--base-200: #E4E9F2;
--base-300: #C5CEE0;
--base-400: #8F9BB3;
--base-500: #5D6A87;
--base-600: #2E3A59;
--base-700: #222B45;
--base-800: #192038;
--base-900: #151A30;
--base-1000: #000000;

--accent-100: #F2F6FF;
--accent-200: #D9E4FF;
--accent-300: #A6C0FF;
--accent-400: #5987FF;
--accent-500: #3369FF;
--accent-600: #274FDB;
--accent-700: #1A3AB8;
--accent-800: #102894;
--accent-900: #091C7A;

--info-100: #F2F8FF;
--info-200: #C7E4FF;
--info-300: #94D0FF;
--info-400: #42B6FF;
--info-500: #00AAFF;
--info-600: #0081D6;
--info-700: #0069C2;
--info-800: #0050A8;
--info-900: #003785;

--complement-100: #FFF2FA;
--complement-200: #FFD9EF;
--complement-300: #FFA6DA;
--complement-400: #FF59BA;
--complement-500: #E42896;
--complement-600: #CA0075;
--complement-700: #AF0467;
--complement-800: #95075A;
--complement-900: #7A094B;

--faint-100: rgba(93, 106, 135, 0.08);
--faint-200: rgba(93, 106, 135, 0.16);
--faint-300: rgba(93, 106, 135, 0.24);
--faint-400: rgba(93, 106, 135, 0.32);
--faint-500: rgba(93, 106, 135, 0.4);
--faint-600: rgba(93, 106, 135, 0.48);
--faint-900: rgba(2, 2, 3, 0.8);

--success-100: #F0FFF5;
--success-200: #CCFCE3;
--success-300: #8CFAC7;
--success-400: #2CE59B;
--success-500: #00D68F;
--success-600: #00B887;
--success-700: #00997A;
--success-800: #007D6C;
--success-900: #004A45;

--warning-100: #FFFDF2;
--warning-200: #FFF1C2;
--warning-300: #FFE59E;
--warning-400: #FFC94D;
--warning-500: #FFAA00;
--warning-600: #DB8B00;
--warning-700: #B86E00;
--warning-800: #945400;
--warning-900: #703C00;

--danger-100: #FFF2F2;
--danger-200: #FFD6D9;
--danger-300: #FFA8B4;
--danger-400: #FF708D;
--danger-500: #FF3D71;
--danger-600: #DB2C66;
--danger-700: #B81D5B;
--danger-800: #94124E;
--danger-900: #700940;

--shadow-strong: 0 15px 30px rgba(0, 2, 82, 0.15);
--shadow-weak: 0 2px 4px rgba(0, 2, 82, 0.2);
--basic-shadow-long: 0px 2px 16px rgba(25, 59, 104, 0.1), 0px 8px 32px rgba(25, 59, 104, 0.15);
--basic-shadow: 0px 0px 32px rgba(0, 40, 130, 0.25);

}

// Брейкпоинты
$mobile: 320px;
$mobileLarge: 700px;
$tablet: 768px;
$desktopMin: 1024px;
$desktopMiddle: 1280px;
$desktop: 1440px;
