@import 'src/styles/mixins';

.confirm-popup {
  width: 464px;
}

.confirm-popup__title {
  @include h5;
  margin-top: 20px;
  height: 32px;
}

.confirm-popup__text {
  @include text-m-16();
  padding: 12px 0 24px 0;
}

.confirm-popup__footer {
  padding-top: 24px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-start;
}

.confirm-popup__footer-button:last-child {
  margin-right: 16px;
}
