@import '../../../styles/mixins';
.rf-image-preview {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: rgba(43, 49, 59, 0.9);
}

.rf-image-preview__full-image {
  position: relative;
  margin-top: 44px;
  img {
    position: relative;
    z-index: 99999;
    /* max-width: 940px; */
    object-position: center;
    border-radius: 12px;
    height: 544px;
    -drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
  }
}
.rf-image-preview__bottom-navigation {
  border-radius: 20px;
  background-color: var(--background-inversion);
  margin-bottom: -10px;
  display: flex;
  align-items: center;
  height: 88px;
  position: relative;
  z-index: 0;
  .bottom-navigation__item {
    width: 52px;
    height: 52px;
    box-sizing: content-box;
    margin: 18px 8px;
    cursor: pointer;
    img {
      -drag: none;
      user-select: none;
      -moz-user-select: none;
      -webkit-user-drag: none;
      -webkit-user-select: none;
      -ms-user-select: none;
      border-radius: 8px;
      width: inherit;
      height: inherit;
      object-position: center;
      object-fit: cover;
      padding: 2px;
    }
  }
  .bottom-navigation__item:first-child {
    margin-left: 16px;
  }
  .bottom-navigation__item:last-child {
    margin-right: 16px;
  }
}
.rf-image-preview__bottom-navigation--big {
  width: 812px;
}

.rf-image-preview__navigation-control {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 66px;
  width: calc(100vw - 40px);
  height: 48px;
  .navigation-control__left,
  .navigation-control__right {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 48px;
    border-radius: 48px;
    background-color: var(--basic-secondary);
    color: #fff;
    cursor: pointer;
    &:hover {
      color: var(--background-tertiary);
    }
    &:active {
      color: var(--background-tertiary-hover);
    }
  }
  .button__disabled {
    color: var(--background-shadow);
    cursor: initial;
    &:hover {
      color: var(--background-shadow);
    }
    &:active {
      color: var(--background-shadow);
    }
  }
}

.rf-image-preview__top-navigation {
  height: 48px;
  display: flex;
  align-self: flex-end;
  position: absolute;
  z-index: 10000;
  top: 20px;
  right: 20px;
  width: 256px;
  justify-content: space-between;
  cursor: pointer;
}

.top-navigation__zoom {
  width: 168px;
  display: flex;
  justify-content: space-between;
}

.top-navigation__button {
  border-radius: 48px;
  width: 48px;
  height: 48px;
  background-color: var(--basic-secondary);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  &:hover {
    color: var(--background-tertiary);
  }
  &:active {
    color: var(--background-tertiary-hover);
  }
}
.rf-image-preview__bottom-navigation {
  .item__active {
    border: 1px solid #e2e5e9;
    border-radius: 10px;
    width: 54px;
    height: 54px;
    background-color: var(--basic-secondary);
    object-fit: cover;
  }
}
.rf-label-count__component {
  color: var(--background-secondary);
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 20px;
}
.rf-naviation-bottom__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}
.bottom-navigation__left,
.bottom-navigation__right {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  color: #fff;
  cursor: pointer;
  &:hover {
    color: var(--background-tertiary);
  }
  &:active {
    color: var(--background-tertiary-hover);
  }
}
.bottom-navigation__left {
  margin-left: 16px;
  margin-right: 8px;
}
.bottom-navigation__right {
  margin-right: 16px;
  margin-left: 8px;
  right: 0px;
  position: absolute;
}
.button__disabled {
  color: var(--background-shadow);
  cursor: initial;
  &:hover {
    color: var(--background-shadow);
  }
  &:active {
    color: var(--background-shadow);
  }
}
.single__full-image {
  height: 630px;
  display: flex;
  align-items: center;
  margin-top: inherit;
  img {
    height: 100%;
  }
}

.move {
  cursor: move !important;
}
.top-navigation__button--disabled {
  color: var(--background-shadow);
  &:hover {
    color: var(--background-shadow);
  }
  &:active {
    color: var(--background-shadow);
  }
  cursor: initial;
}
.bottom-navigation--disabled {
  display: none;
}
