@import "src/styles/mixins";

.rf-datepicker {
  position: relative;
  width: 100%;
}

.rf-datepicker__input-wrapper {
  display: flex;
  cursor: pointer;
  height: 40px;
  .rf-input__field{
    padding-left: 29px;
  }
  svg{
    color: var(--text-tertiary); 
  }
}



.rf-datepicker__calendar-button {
  position: absolute;
  z-index: 99;
  width: 24px;
  height: 24px;
  top: calc(50% - 1px);
  right:calc(100% - 38px);
  transform: translateY(-50%) rotate(0);
  transition: 0.35s;
  color: var(--text-secondary);
  cursor: pointer;
  pointer-events: none;

  svg {
    color: var(--text-tertiary); 
  }
}

.rf-datepicker__calendar-chevron{
  position: relative;
  z-index: 99;
  bottom:32px;
  right: 38px;
  top: 8px;
  color:var(--basic-tertiary);
}

.rf-datepicker__input-wrapper--disabled {
  pointer-events: none;

  .rf-datepicker__calendar-button {
    color: var(--basic-tertiary);
  }
}

.rf-datepicker__input-wrapper--readonly {
  .rf-input {
    pointer-events: none;
  }
}

.rf-datepicker__input-day {
  position: absolute;
  top: 50%;
  left: 100px;
  transform: translateY(-50%);
  @include text-l-16;
  pointer-events: none;
  text-transform: capitalize;
}
