@import 'src/styles/mixins';

.rf-datepicker {
  position: relative;
  width: 100%;
  height: 40px;
}
.rf-datepicker__focus-border > .rf-datepicker__input-wrapper {
  border: 1px solid transparent;
  border-radius: 10px;
  &:hover {
    border: 1px solid var(--basic-hover);
  }
}
.rf-datepicker__input-wrapper {
  cursor: pointer;
  box-sizing: border-box;
  svg {
    color: var(--text-tertiary);
  }
}

.filter__wrapper .rf-input {
  height: 38px;
}

.rf-datepicker__calendar-button {
  transition: 0.35s;
  color: var(--text-secondary);
  cursor: pointer;
  pointer-events: none;

  svg {
    color: var(--text-tertiary);
  }
}

.rf-datepicker__calendar-chevron {
  color: var(--basic-tertiary);
  cursor: pointer;
  svg {
    color: var(--basic-tertiary);
  }
}

.rf-datepicker__input-wrapper--disabled {
  pointer-events: none;
  color: var(--basic-secondary);

  .rf-datepicker__calendar-button,
  .rf-datepicker__calendar-chevron {
    cursor: pointer;
    color: var(--basic-tertiary);
  }
}

.card-filter__status-picker .rf-select__wrapper {
  box-shadow: none;
}

.rf-datepicker__input-wrapper--readonly {
  .rf-input {
    pointer-events: none;
  }
}

.rf-datepicker__input-day {
  position: absolute;
  top: 50%;
  left: 100px;
  transform: translateY(-50%);
  @include text-l-16;
  pointer-events: none;
  text-transform: capitalize;
}
