@import "../../../styles/mixins";

.rf-history-sidebar {
  border-left: 1px solid var(--background-tertiary);

  &.rf-history-sidebar--default {
    .rf-history-sidebar__list {
      max-height: 490px;
    }
  }

  &.rf-history-sidebar--opened {
    width: 454px;
    min-height: 200px;
    flex-shrink: 0;
    border-left: 1px solid transparent;

    .rf-history-sidebar__btn-icon {
      transform: rotate(-180deg);
    }

    .rf-history-sidebar__list {
      overflow-y: auto;
    }

    .rf-history-sidebar__attachments {
      margin-top: 0;
    }

    .rf-history-sidebar__attachments-empty {
      display: none;
    }

    .rf-history-sidebar__item:last-child {
      margin-bottom: 32px;
    }
  }

  .rf-history-sidebar__btn {
    background: var(--background-primary);
    box-shadow: 0 4px 8px rgba(138, 150, 168, 0.4),
      0px -2px 4px rgba(138, 150, 168, 0.08);
    margin-bottom: 20px;
    flex-shrink: 0;

    .rf-history-sidebar__btn-icon {
      color: var(--basic-tertiary);
      transition: 0.2s ease-in-out;
    }
  }

  .rf-history-sidebar__tile {
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  .rf-history-sidebar__title {
    @include h6();
    line-height: 24px;
    margin-bottom: 20px;
  }

  .rf-history-sidebar__list {
    overflow: inherit;
  }

  .rf-history-sidebar__item {
    position: relative;
    display: flex;
    @include text-l-16;
    margin-bottom: 32px;

    &.rf-history-sidebar__item--green::before,
    &.rf-history-sidebar__item--yellow::before,
    &.rf-history-sidebar__item--red::before {
      border-left: 2px solid var(--background-tertiary);
    }

    &::before {
      position: absolute;
      content: "";
      top: 32px;
      left: 23px;
      height: 100%;
      border-left: 2px dashed var(--background-tertiary);
    }

    &:last-child {
      margin-bottom: 0;

      &::before {
        display: none;
      }
    }

    .rf-history-sidebar__item-name {
      display: flex;
      align-items: center;

      > span {
        margin-right: 6px;
      }
    }

    .rf-history-sidebar__item-info-icon {
      color: var(--basic-tertiary);
      display: flex;
    }

    .rf-history-sidebar__item-content {
      margin-left: 16px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }

    .rf-history-sidebar__item-text {
      color: var(--basic-tertiary);
      margin-top: 4px;
    }

    .rf-history-sidebar__item-status {
      margin-top: 8px;
    }

    .rf-history-sidebar__item-comment {
      padding: 12px;
      background: var(--background-secondary);
      border-radius: 4px 22px 22px 22px;
      margin-top: 8px;
    }
  }

  .rf-history-sidebar__attachments {
    border-top: 1px solid var(--background-tertiary);
    padding-top: 32px;
    margin-top: 32px;
  }

  .rf-history-sidebar__attachments-title {
    @include text-m-16();
    color: var(--basic-tertiary);
    margin-bottom: 16px;
  }

  .rf-history-sidebar__attachments-container {
    display: flex;
    flex-wrap: wrap;
    grid-gap: 12px;
  }

  .rf-history-sidebar__attachments-preview {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background: var(--background-secondary);
    color: var(--basic-tertiary);
  }
}

.rf-history-sidebar__approvers {
  display: flex;
  flex-direction: column;
  width: 360px;

  .rf-history-sidebar__approvers-item {
    display: flex;
    margin-bottom: 16px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .rf-history-sidebar__approvers-item__content {
    display: flex;
    flex-direction: column;
    margin-left: 12px;
  }

  .rf-history-sidebar__approvers-item__name {
    @include text-l-16;
  }

  .rf-history-sidebar__approvers-item__TN {
    @include text-s-14;
    color: var(--text-secondary);
  }
}

.rf-history-sidebar__item-me {
  color: var(--basic-primary);
}
