@import "../../../styles/mixins";

.rf-form-group {
  width: 100%;
}

.rf-form-group__inner:focus-within .rf-form-group__label {
  color: var(--basic-primary);
}

.rf-form-group__label {
  @include caption;
  @include clearfix;
  color: var(--text-secondary);
  margin-bottom: 8px;
  transition: 0.15s ease-in;
}

.rf-form-group__label-large {
  @include text-xs-14();
  color: var(--text-secondary);
}

.rf-form-group__label-secondary {
  @include caption();
  color: var(--text-secondary);
  float: right;
  margin-left: 8px;
}

.rf-form-group__label-secondary-invalid {
  color: var(--status-danger);
}

.rf-form-group__message {
  margin-top: 8px;
  @include text-xs-14();
  color: var(--status-danger);
}

.rf-form-group__message-no-invalid {
  color: var(--text-secondary);
}

.rf-form-group__required {
  color: var(--status-danger);
}
