@import '../../../styles/mixins';

$lineWidth: 2px;

.rf-tabs__navigation {
  position: relative;
  border-bottom: $lineWidth solid transparent;

  &__line {
    border-bottom: $lineWidth solid var(--background-tertiary);
  }
}

.rf-tabs__navigation-list {
  position: relative;
  display: flex;
  align-items: center;

  &--without-menu {
    overflow: hidden;
  }
}

.rf-tabs__navigation-line {
  position: absolute;
  bottom: -$lineWidth;
  left: 0;
  height: $lineWidth;
  background-color: var(--basic-primary);

  transition: 0.3s;
}

.rf-tabs__link {
  white-space: nowrap;

  &--hidden {
    position: absolute;
    visibility: hidden;
    opacity: 0;
    user-select: none;
  }
}

.rf-tabs__link:last-of-type {
  margin-right: 0;
}

.rf-tabs__button {
  display: flex;
  align-items: center;
  height: auto;
  color: var(--text-secondary);
  background-color: transparent;
  outline: none;
  border: 0;
  padding: 12px 16px;

  &:not(.rf-tabs__button--active) {
    & .rf-badge {
      background-color: var(--background-tertiary);
      color: var(--text-text-secondary);
    }
  }
}

.rf-tabs__button--md {
  @include text-l-16;
  padding: 12px 16px;
}

.rf-tabs__button--sm {
  @include text-s-14;
  padding: 10px 12px;
}

.rf-tabs__button--active {
  color: var(--text-primary);
}

.rf-tabs__button:disabled {
  color: var(--text-tertiary);
  pointer-events: none;
}

.rf-tabs__content {
  margin-top: 24px;
}

.rf-tabs__icon {
  &:not(:last-child) {
    margin-right: 8px;
  }

  svg {
    display: block;
  }
}

.button-group__menu {
  max-width: 240px;
}

.rf-tabs__menu {
  position: absolute;
  right: 4px;
  top: 0px;
  width: auto;

  .rf-tabs__menu__btn {
    color: var(--text-secondary);
    margin-bottom: 10px;

    &:active,
    &:hover {
      background-color: transparent;
      color: var(--basic-primary);
    }
  }

  &--active {
    .rf-tabs__menu__btn {
      color: var(--basic-press);
    }
  }
}

.rf-tabs__menu-link {
  .rf-tabs__menu-button {
    width: 100%;
    transition: 0.2s ease-in-out;

    &--active {
      background-color: var(--background-tertiary);
    }
  }

  .rf-tabs__menu-button:hover {
    background-color: var(--background-secondary);
  }
}
