@import '../../../styles/mixins';

$lineWidth: 2px;

.rf-tabs__navigation {
  position: relative;
  border-bottom: $lineWidth solid var(--background-tertiary);
}

.rf-tabs__navigation-list {
  display: flex;
  align-items: center;
}

.rf-tabs__navigation-line {
  position: absolute;
  bottom: -$lineWidth;
  left: 0;
  height: $lineWidth;
  background-color: var(--basic-primary);

  transition: 0.3s;
}

.rf-tabs__link:last-of-type {
  margin-right: 0;
}

.rf-tabs__button {
  @include text-l-16;
  display: flex;
  align-items: center;
  height: auto;
  color: var(--text-secondary);
  background-color: transparent;
  outline: none;
  border: 0;
  padding: 12px 16px;

  &:not(.rf-tabs__button--active) {
    & .rf-badge {
      background-color: var(--background-tertiary);
      color: var(--text-text-secondary);
    }
  }
}

.rf-tabs__button--active {
  color: var(--text-primary);
}

.rf-tabs__button:disabled {
  color: var(--text-tertiary);
  pointer-events: none;
}

.rf-tabs__content {
  margin-top: 24px;
}

.rf-tabs__icon {
  &:not(:last-child) {
    margin-right: 8px;
  }

  svg {
    display: block;
  }
}
