@import '../../../styles/mixins';

.rf-complete-popup {
  width: 320px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.rf-complete-popup__label {
  max-width: 190px;
  margin: 24px 0 0;
  @include h6;
  text-align: center;
}

.rf-complete-popup__description {
  margin: 16px 20px 0;
  @include text-m-16;
  color: var(--text-secondary);
  text-align: center;
}

.rf-complete-popup__btn {
  margin-top: 32px;
}
