@import '../../../styles/mixins';
.doc__wrapper {
  margin-bottom: 16px;
}

.doc__title {
  @include text-m-16;
  color: var(--text-secondary);
  margin-bottom: 4px;
}

.story-sign__wrapper {
  background-color: var(--background-secondary);
}
