@import "../../../styles/mixins";

.rf-textarea {
  width: 100%;
  position: relative;
}

.rf-textarea__wrapper {
  transition: 0.15s ease-in;
  overflow: hidden;
  box-shadow: 0 0 0 1px var(--basic-tertiary);
  border-radius: 8px;

  &--invalid {
    box-shadow: 0 0 0 2px var(--status-danger);
  }

  &:hover {
    box-shadow: 0 0 0 1px var(--basic-primary);
  }

  &--focused {
    box-shadow: 0 0 0 1px var(--basic-primary);
  }

  &--disabled {
    background-color: var(--background-tertiary);

    &, &:hover {
      box-shadow: none;
    }
  }
}

.rf-textarea__wrapper--auto-resize {
  display: grid;
  min-height: 88px;
}

.rf-textarea__scroll {
  height: 88px;
}

.rf-textarea__wrapper--auto-resize::after {
  content: attr(data-replicated-value) " ";
  white-space: pre-wrap;
  visibility: hidden;
  overflow-wrap: anywhere;
}

.rf-textarea__wrapper--auto-resize > .rf-textarea__field {
  resize: none;
  overflow: hidden;
}

.rf-textarea__wrapper--auto-resize > .rf-textarea__field,
.rf-textarea__wrapper--auto-resize::after {
  padding: 8px 16px;
  font: inherit;
  grid-area: 1 / 1 / 2 / 2;
}

.rf-textarea__field {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 100%;
  padding: 8px 16px;
  border-radius: 8px;
  border: 0;
  box-sizing: border-box;

  @include text-m-16;
}

.rf-textarea__field::placeholder {
  @include text-m-16;
  color: var(--text-secondary);
}

.rf-textarea__field:disabled {
  cursor: default;
  color: var(--text-secondary);
}

.rf-textarea__max-length {
  @include caption;
  color: var(--text-secondary);
  margin-top: 8px;
  text-align: right;
}

.rf-textarea__max-length--float {
  margin-top: 0;
  position: absolute;
  right: 0;
  bottom: calc(100% + 8px);
}
