@import 'src/styles/mixins';

.button-group {
  display: inline-flex;
  align-items: center;
}

.button-group__item {
  margin-right: 12px;
}

.button-group__item:last-of-type {
  margin-right: 0;
}

// Hidden buttons

.button-group__menu {
  width: 376px;
  box-shadow: 0 2px 6px rgba(25, 59, 104, 0.15);
  border-radius: 12px;
  background-color: var(--background-primary);
  padding: 12px 0;
}

.button-group__menu-button {
  display: flex;
  align-items: center;
  padding: 12px 16px;
  border-bottom: 1px solid var(--background-tertiary);
  transition: 0.15s ease-in-out;
}

.button-group__menu-button:last-of-type {
  border-bottom: 0;
}

.button-group__menu-button:hover {
  background-color: var(--special-softBlue);
}

.button-group__menu-button-details {
  padding-right: 16px;
}

.button-group__menu-button-name {
  @include button-m-16;
  color: var(--text-primary);
}

.button-group__menu-button-description {
  @include text-xs-14;
  color: var(--text-secondary);
  margin-top: 4px;
}

.button-group__menu-button-icon {
  flex-shrink: 0;
  margin-left: auto;
  transform: rotate(180deg);
  color: var(--text-tertiary);
}
