.rf-tile {
  padding: 20px;
  margin-bottom: 16px;
}
.rf-tile__background{
  background: var(--background-card);
  box-shadow: 0px 4px 8px rgba(138, 150, 168, 0.4), 0px -2px 4px rgba(138, 150, 168, 0.08);
  border-radius: 20px;
}

.rf-tile--outlined {
  box-shadow: none;
  border-radius: 16px;
  border: 1px solid var(--background-tertiary);
  
}

.rf-tile--stretch {
  padding-top: 40px;
  padding-bottom: 40px;
}

.rf-tile:last-of-type {
  margin-bottom: 0;
}
