.rf-tile {
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 20px;
}

.rf-tile--default {
  box-shadow: var(--shadow-clicable-active);
}

.rf-tile--clicable-default {
  box-shadow: var(--shadow-clicable-default);
}

.rf-tile--non-clicable {
  box-shadow: var(--shadow-non-clicable);
}

.rf-tile--clicable-hover {
  box-shadow: var(--shadow-clicable-hover);
}

.rf-tile--border {
  border: 1px solid var(--background-tertiary);
}

.rf-tile__background {
  background: var(--background-card);
}

.rf-tile--stretch {
  padding-top: 40px;
  padding-bottom: 40px;
}

.rf-tile:last-of-type {
  margin-bottom: 0;
}
