@import 'src/styles/mixins';

.rf-menu {
  position: relative;
  display: inline-flex;
  width: 100%;
}

.rf-menu__toggle {
  width: 100%;
}

.rf-menu__content {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 999;
  background-color: var(--background-primary);
  box-shadow: 0px 4px 16px rgba(138, 150, 168, 0.4), 0px 0px 6px rgba(138, 150, 168, 0.08);
  border-radius: 12px;
  overflow: hidden;
  display: none;
}

.rf-menu__content--show {
  display: block;
}

.rf-menu__content--portal {
  position: absolute;
}
