@import "../../../styles/mixins";

.rf-history {
  display: flex;
  flex-direction: column;
}

.rf-history__button {
  display: flex;
  margin-left: 64px;
}

.rf-history__attachments {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.rf-history__attachments-line {
  display: flex;
  height: 1px;
  background: var(--background-secondary);
}

.rf-history__attachments-title {
  @include text-m-16();
  color: var(--basic-tertiary);
  margin-top: 18px;
}

.rf-history__attachments-container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 16px;
  grid-gap: 12px;
}
