@import "../../../styles/mixins";

.rf-history {
  display: flex;
  flex-direction: column;
}

.rf-history__button {
  display: flex;
}

.rf-history__user-photo {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.rf-history__user-line {
  position: absolute;
  top: 48px;
  left: 49%;
  transform: translateX(-50%);
  border-right: 2px solid var(--background-tertiary);
  height: calc(100% - 48px);
}

.rf-history__user-line--inner {
  position: relative;
  width: 100%;
  height: 100%;
}

.rf-history__history-element {
  display: flex;
}

.rf-history__details {
  margin-left: 16px;
  margin-bottom: 32px;
  width: 100%;
}

.rf-history__details-user-name {
  display: flex;
  min-height: 8px;
  align-items: center;
}

.rf-history__details-user-name:last-of-type {
  padding-bottom: 32px;
}

.rf-history__fullName {
  @include text-l-16-bold();
  color: var(--basic-secondary);
}

.rf-history__details-date {
  @include text-l-16;
  color: var(--basic-tertiary);
}

.rf-history__details-info {
  @include text-m-16();
  color: var(--basic-tertiary);
  margin-top: 4px;
}

.rf-history__details-comment {
  overflow: hidden;
  margin-top: 8px;
  padding: 12px;
  background: var(--background-secondary);
  border-radius: 4px 22px 22px 22px;
  @include text-m-16;
}

.rf-history__icon-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 6px;

  color: var(--basic-tertiary);
  background-color: var(--background-primary);
}

.rf-history__tooltip-users {
  display: flex;
  padding-bottom: 16px;
  min-width: 400px;
}

.rf-history__tooltip-users:last-of-type {
  padding-bottom: 0;
}

.rf-history__tooltip-users-name {
  @include text-m-16;
  color: var(--text-primary)
}

.rf-history__tooltip-users-position {
  @include text-m-16;
  color: var(--text-secondary);
}

.rf-history__tooltip-wrapper {
  padding: 16px;
}

.rf-history__tooltip-users-info {
  padding-left: 16px;
}

.rf-history__details-column {
  display: flex;
  flex-direction: column;
}

.rf-history__status-wrapper {
  margin-top: 8px;
}

.rf-history__details-comment-wrapper {
  display: flex;
}

.rf-history__attachments {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.rf-history__attachments-line {
  display: flex;
  height: 1px;
  background: var(--background-secondary);
}

.rf-history__attachments-title {
  @include text-m-16();
  color: var(--basic-tertiary);
  margin-top: 16px;
}

.rf-history__attachments-container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 16px;
  grid-gap: 12px;
}

.rf-history__attachment {
  margin-right: 12px;
  margin-bottom: 12px;
}

