@import "../../../styles/mixins";

.rf__user-photo {
  @include round(40px);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: var(--basic-tertiary);

  display: flex;
  align-items: center;
  justify-content: center;

  @include button-m-16;
  color: var(--text-static-white);
}
