@import '../../../styles/mixins';

.rf-notification {
  border-radius: 12px;
  padding: 14px 16px;
  margin-top: 16px;
  display: flex;
  align-items: flex-start;
  background-color: var(--background-primary);
  box-shadow: var(--shadow-non-clickable);

  &__icon {
    display: flex;
    flex-shrink: 0;
    margin-right: 12px;
    position: relative;
    top: -2px;
  }

  &__close {
    display: flex;
    flex-shrink: 0;
    margin-left: 12px;
    margin-right: -4px;
    color: var(--basic-tertiary);
  }

  &__body {
    margin-right: auto;
  }

  &__title {
    @include text-s-14-bold();
    color: var(--text-primary);
  }

  &__message {
    @include text-s-14;
    color: var(--text-primary);
  }

  &__title,
  &__message {
    &:not(:last-child) {
      margin-bottom: 4px;
    }
  }

  &__button {
    display: inline-flex;
  }

  &--default {  
    .rf-notification__icon {
      color: var(--basic-primary);
    }
  
    .rf-notification__button {
      color: var(--basic-primary);
    }
  }
  
  &--default {
    .rf-notification__icon {
      color: var(--background-shadow);
    }
  
    .rf-notification__button {
      color: var(--text-secondary);
    }
  }
  
  &--blue {  
    .rf-notification__icon {
      color: var(--basic-primary);
    }
  
    .rf-notification__button {
      color: var(--basic-primary);
    }
  }
  
  &--green {  
    .rf-notification__icon {
      color: var(--status-success);
    }
  
    .rf-notification__button {
      color: var(--status-success);
    }
  }
  
  &--yellow {  
    .rf-notification__icon {
      color: var(--status-warn);
    }
  
    .rf-notification__button {
      color: var(--status-warn);
    }
  }
  
  &--red {  
    .rf-notification__icon {
      color: var(--status-danger);
    }
  
    .rf-notification__button {
      color: var(--status-danger);
    }
  }
}