@import 'src/styles/mixins';

.rf-notification {
  margin-top: 16px;
  position: relative;
  width: 570px;
  padding: 20px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  cursor: default;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.1);
  border-radius: 16px;
}

.rf-notification::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 8px;
  background-color: transparent;
}

.rf-notification--default {
  color: #003ae5;
}

.rf-notification--green {
  color: #01c898;
}

.rf-notification--yellow {
  color: var(--special-yellow);
}

.rf-notification--red {
  color: var(--status-danger);
}

.rf-notification__wrap {
  margin-left: 16px;
}

.rf-notification__title {
  width: 100%;
  @include text-l-16-bold;
  white-space: normal;
}
.rf-notification__message {
  width: 100%;
  @include caption;
  white-space: normal;
  color: var(--text-secondary);
}

.rf-notification__close {
  flex-grow: 0;
  margin-left: auto;
  width: 24px;
  height: 24px;
  min-width: 32px;
  background-color: transparent;
  border: 0;
  outline: none;
  color: var(--basic-tertiary);
}
