@import "../../../styles/mixins";

.rf-hint__wrapper {
  background: var(--background-secondary);
  border-radius: var(--12);
  padding: var(--16);
  display: flex;
  position: relative;
}

.rf-hint__wrapper.line:before {
  content: '';
  width: 8px;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--12) 0 0 var(--12);
}

.rf-hint__title-text {
  @include text-l-16-bold()
}

.rf-hint__message {
  @include text-m-16()
}

.rf-hint__body {
  margin-left: 8px;
}

.rf-hint__icon {
  width: var(--24);
  height: var(--24);
  flex-shrink: 0;
}

.rf-hint__default {
  background-color: var(--background-secondary);

  .rf-hint__icon {
    color: var(--basic-primary)
  }

  &:before {
    background-color: var(--basic-primary);
  }
}

.rf-hint__green {
  background-color: var(--background-success);

  .rf-hint__icon {
    color: var(--status-success)
  }

  &:before {
    background-color: var(--status-success);
  }
}

.rf-hint__yellow {
  background-color: var(--background-warn);

  .rf-hint__icon {
    color: var(--status-warn)
  }

  &:before {
    background-color: var(--status-warn);
  }
}

.rf-hint__red {
  background-color: var(--background-danger);

  .rf-hint__icon {
    color: var(--status-danger)
  }

  &:before {
    background-color: var(--status-danger);
  }
}

.rf-hint__button {
  margin-top: 8px;
}
