@import '../../../styles/mixins';

.rf-hint {
  border-radius: 12px;
  padding: 14px 16px;
  display: flex;
  align-items: flex-start;

  &__icon {
    display: flex;
    flex-shrink: 0;
    margin-right: 12px;
    position: relative;
    top: -2px;
  }

  &__close {
    display: flex;
    flex-shrink: 0;
    margin-left: 12px;
    margin-right: -4px;
    color: var(--basic-tertiary);
  }

  &__body {
    margin-right: auto;
  }

  &__title {
    @include text-s-14-bold();
    color: var(--text-primary);
  }

  &__message {
    @include text-s-14;
    color: var(--text-primary);
  }

  &__title,
  &__message {
    &:not(:last-child) {
      margin-bottom: 4px;
    }
  }

  &__button {
    display: inline-flex;
  }

  &--default {
    background-color: var(--background-secondary);
  
    .rf-hint__icon {
      color: var(--basic-primary);
    }
  
    .rf-hint__button {
      color: var(--basic-primary);
    }
  }
  
  &--default {
    .rf-hint__icon {
      color: var(--background-shadow);
    }
  
    .rf-hint__button {
      color: var(--text-secondary);
    }
  }
  
  &--blue {
    background-color: var(--background-secondary);
  
    .rf-hint__icon {
      color: var(--basic-primary);
    }
  
    .rf-hint__button {
      color: var(--basic-primary);
    }
  }
  
  &--green {
    background-color: var(--background-success);
  
    .rf-hint__icon {
      color: var(--status-success);
    }
  
    .rf-hint__button {
      color: var(--status-success);
    }
  }
  
  &--yellow {
    background-color: var(--background-warn);
  
    .rf-hint__icon {
      color: var(--status-warn);
    }
  
    .rf-hint__button {
      color: var(--status-warn);
    }
  }
  
  &--red {
    background-color: var(--background-danger);
  
    .rf-hint__icon {
      color: var(--status-danger);
    }
  
    .rf-hint__button {
      color: var(--status-danger);
    }
  }
}
