@import '../../../styles/mixins';

.rf-hint__wrapper {
  background: var(--background-secondary);
  border-radius: var(--12);
  padding: var(--16);
  display: flex;
  position: relative;
}

.rf-hint__title-text {
  @include text-l-16-bold();
}

.rf-hint__message {
  @include text-m-16;
  color: var(--text-secondary);
}

.rf-hint__body {
  margin-left: 4px;
}

.rf-hint__icon {
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  margin-right: 4px;
}

.rf-hint__default {
  background-color: var(--background-secondary);

  .rf-hint__icon {
    color: var(--basic-primary);
  }

  .rf-hint__button {
    color: var(--basic-primary);
    cursor: pointer;
  }

  &:before {
    background-color: var(--basic-primary);
  }
}

.rf-hint__default {
  .rf-hint__icon {
    color: var(--background-shadow);
  }

  .rf-hint__button {
    @include button-m-16;
    color: var(--text-secondary);
    cursor: pointer;
  }
}

.rf-hint__blue {
  background-color: var(--background-secondary);

  .rf-hint__icon {
    color: var(--basic-primary);
  }

  .rf-hint__button {
    color: var(--basic-primary);
    cursor: pointer;
  }

  &:before {
    background-color: var(--basic-primary);
  }
}

.rf-hint__green {
  background-color: var(--background-success);

  .rf-hint__icon {
    color: var(--status-success);
  }

  .rf-hint__button {
    color: var(--status-success);
    cursor: pointer;
  }

  &:before {
    background-color: var(--status-success);
  }
}

.rf-hint__yellow {
  background-color: var(--background-warn);

  .rf-hint__icon {
    color: var(--status-warn);
  }

  .rf-hint__button {
    color: var(--status-warn);
    cursor: pointer;
  }

  &:before {
    background-color: var(--status-warn);
  }
}

.rf-hint__red {
  background-color: var(--background-danger);

  .rf-hint__icon {
    color: var(--status-danger);
  }

  .rf-hint__button {
    color: var(--status-danger);
    cursor: pointer;
  }

  &:before {
    background-color: var(--status-danger);
  }
}

.rf-hint__button {
  margin-top: 8px;
}
