@import '../../../styles/mixins';

.rf-tooltip {
  position: relative;
  display: inline-flex;
}

$radius: 8px;

.rf-tooltip__content-wrapper {
  z-index: 2200;
}

.rf-tooltip__content {
  display: inline-flex;
  border-radius: $radius;
}

.rf-tooltip__inner {
  position: relative;
  padding: 12px 16px 12px 16px;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  border-radius: $radius;
  box-shadow: 0px 4px 8px rgba(138, 150, 168, 0.4),
    0px -2px 4px rgba(138, 150, 168, 0.08);

  .rf-tooltip__content-union {
    width: 30px;
    height: 13px;
  }

  .rf-tooltip__content-union--bottom {
    bottom: calc(100%);

    svg {
      transform: rotate(-180deg);
    }
  }

  .rf-tooltip__content-union--top {
    top: calc(100%);
  }

  .rf-tooltip__content-union--left {
    left: calc(100% - 9px);

    svg {
      transform: rotate(-90deg);
    }
  }

  .rf-tooltip__content-union--right {
    right: calc(100% - 9px);

    svg {
      transform: rotate(90deg);
    }
  }
}

.rf-tooltip__content--default .rf-tooltip__inner,
.rf-tooltip--default .rf-tooltip__inner {
  background: var(--basic-tertiary);
  color: var(--text-static-white);
}

.rf-tooltip__content--default .rf-tooltip__inner {
  background: var(--basic-tertiary);
  color: var(--text-static-white);

  .rf-tooltip__arrow {
    color: var(--basic-tertiary);
  }
}

.rf-tooltip__content--white .rf-tooltip__inner {
  background: var(--background-primary);
  color: var(--text-primary);

  .rf-tooltip__arrow {
    color: var(--background-primary);
  }
}

.rf-tooltip__content--white .rf-tooltip__inner::after,
.rf-tooltip--white .rf-tooltip__inner::after {
  background: var(--background-primary);
}
