@import "src/styles/mixins";

.status__wrapper {
  display: flex;
  align-items: center;
}

.status__icon-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  margin-right: 8px;

  border-radius: 50%;
}

.status__text {
  @include text-s-14();
}

.defaultColorBackground {
  background-color: var(--special-softBlue);
}

.defaultColorSymbol {
  color: var(--basic-primary);
}

.warningColorBackground {
  background-color: var(--special-softYellow);
}

.warningColorSymbol {
  color: var(--status-warn);
}

.errorColorBackground {
  background-color: var(--special-softRed);
}

.errorColorSymbol {
  color: var(--status-danger);
}

.successColorBackground {
  background-color: var(--special-softGreen);
}

.successColorSymbol {
  color: var(--status-success);
}

.noneColorBackground {
  background-color: var(--background-secondary);
}

.noneColorSymbol {
  color: var(--text-secondary);
}