@import "src/styles/mixins";

.rf-status__wrapper {
  display: flex;
  align-items: center;
}

.rf-status__icon-wrapper {
  display: flex;
  margin-right: 8px;
  width: 24px;
  height: 24px;

  border-radius: 50%;
}

.rf-status__icon {
  @include square(24px);
}

.rf-status__text {
  @include text-s-14();
}

.rf-status__defaultColorBackground {
  background-color: var(--special-softBlue);
}

.rf-status__defaultColorSymbol {
  color: var(--basic-primary);
}

.rf-status__warningColorBackground {
  background-color: var(--special-softYellow);
}

.rf-status__warningColorSymbol {
  color: var(--status-warn);
}

.rf-status__errorColorBackground {
  background-color: var(--special-softRed);
}

.rf-status__errorColorSymbol {
  color: var(--status-danger);
}

.rf-status__successColorBackground {
  background-color: var(--special-softGreen);
}

.rf-status__successColorSymbol {
  color: var(--status-success);
}

.rf-status__noneColorBackground {
  background-color: var(--background-secondary);
}

.rf-status__noneColorSymbol {
  color: var(--text-secondary);
}