.rate-picker {
  border-bottom: 1px solid var(--background-secondary);
}

.rate-picker__content {
  display: inline-block;
  margin-bottom: 16px;
  width: 648px;
  box-sizing: border-box;
}

.rate-picker__container {
  display: flex;
  padding-left: 4px;
  margin-bottom: 16px;
  flex-direction: row;
  input {
    display: none;
  }
  label {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 56px;
    height: 40px;
    border: 1px solid var(--background-secondary);
    box-sizing: border-box;
    cursor: pointer;
    &:hover {
      background-color: var(--basic-hover);
      color: var(--text-inversion);
    }
    &:active {
      background-color: var(--basic-press);
    }
  }
}
.rate-picker__item--left {
  label {
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
  }
}

.rate-picker__item--right {
  label {
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
  }
}

.rate-picker__label_picked_primary {
  background-color: var(--basic-primary);
  color: var(--text-inversion);
}

.rate-picker__label_picked_tertiary {
  background-color: var(--background-tertiary);
}
.rate-picker__container label[class='star-picker'],
.rate-picker__label_picked_primary.star-picker,
.rate-picker__label_picked_tertiary label[class='star-picker'] {
  width: auto;
  height: auto;
  border: none;
  &:hover {
    background-color: transparent;
    color: var(--basic-hover);
  }
  &:active {
    background-color: transparent;
    color: var(--basic-press);
  }
}
.star-picker {
  background-color: transparent;
  color: var(--background-tertiary);
}
.rate-picker__label_picked_primary label[class='star-picker'] {
  border-top-right-radius: none;
  border-bottom-right-radius: none;
}
.rate-picker__label_picked_primary label[class='star-picker'] {
  border-top-left-radius: none;
  border-bottom-left-radius: none;
}
.rate-picker__label_picked_primary.star-picker {
  background-color: transparent;
  color: var(--basic-primary);
}
.rate-picker__label_picked_tertiary.star-picker {
  width: auto;
  height: auto;
  border: none;
  background-color: transparent;
  color: var(--basic-primary);
}
