@import 'src/styles/mixins';

.rate-picker {
  border-bottom: 1px solid var(--background-secondary);
}

.rate-picker__content {
  display: inline-block;
  margin-bottom: 16px;
  width: 648px;
  box-sizing: border-box;
}

label {
  color: var(--text-primary);
}

.rate-picker__container {
  @include text-s-14;
  display: flex;
  padding-left: 4px;
  margin-bottom: 16px;
  flex-direction: row;
  input {
    display: none;
  }
  label {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 56px;
    height: 40px;
    border: 1px solid var(--background-tertiary);
    border-left: 0.5px solid var(--background-tertiary);
    border-right: 0.5px solid var(--background-tertiary);
    box-sizing: border-box;
    cursor: pointer;
    &:active {
      background-color: var(--basic-press);
    }
  }
}
.rate-picker__item--left {
  label {
    border-left: 1px solid var(--background-tertiary);
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
  }
}

.rate-picker__item--right {
  label {
    border-right: 1px solid var(--background-tertiary);
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
  }
}

.rate-picker__label_picked_primary {
  background-color: var(--basic-primary);
  color: var(--text-inversion);
}

.rate-picker__label_picked_tertiary {
  background-color: var(--background-tertiary);
}

.rate-picker__label_picked_primary label[class='star-picker'] {
  border-top-right-radius: none;
  border-bottom-right-radius: none;
}
.rate-picker__label_picked_primary label[class='star-picker'] {
  border-top-left-radius: none;
  border-bottom-left-radius: none;
}
.rate-picker__label_picked_primary.star-picker {
  background-color: transparent;
  color: var(--basic-primary);
}
.rate-picker__label_picked_tertiary.star-picker {
  width: auto;
  height: auto;
  border: none;
  background-color: transparent;
  color: var(--basic-primary);
}
.rate-hover {
  background-color: var(--basic-hover);
  color: var(--text-inversion);
}
.star-picker {
  width: auto !important;
  height: auto !important;
  border: none !important;
  background-color: transparent;
  color: var(--background-tertiary);
}
.rate-picker__container .star-hover {
  width: auto;
  height: auto;
  border: none;
  color: var(--basic-hover);
  background-color: var(--text-inversion);
  &:active {
    background-color: transparent;
    color: var(--basic-press);
  }
}

.disabled-star {
  cursor: inherit !important;
  &:active {
    background-color: transparent !important;
  }
}
.disabled-picker {
  cursor: inherit !important;
  &:active {
    background-color: inherit !important;
  }
}
.rate-picker__label_picked_tertiary.disabled-picker {
  &:active {
    background-color: var(--background-tertiary) !important;
  }
}
.rate-picker__container .star-picker {
  padding-left: 2px;
  padding-right: 2px;
}
.rate-picker__container .rate-picker__item--left .star-picker {
  padding-left: 0px;
}
.rate-picker__container .rate-picker__item--right .star-picker {
  padding-right: 0px;
}
