@import "src/styles/mixins";

.rf-avatar-stack {
  display: flex;
  align-items: center;
  cursor: default;
}

.rf-avatar-stack__item {
  position: relative;
  border: 2px solid var(--background-primary);
  border-radius: 100%;
  user-select: none;
}

.rf-avatar-stack__menu {
  padding: 8px 0;
  max-height: 200px;
  overflow-y: auto;
}

.rf-avatar-stack__menu-item {
  cursor: default;
  display: flex;
  align-items: center;
  padding: 8px 16px;
}

.rf-avatar-stack__menu-label{
  @include text-l-16;
  margin-left: 8px;
}

.rf-avatar-stack--clickable {
  cursor: pointer;

  .rf-avatar {
    cursor: pointer;
  }
}

.rf-avatar-stack__tooltip-content-wrapper {
  display: flex;
}

.rf-avatar-stack__tooltip-info-column {
  display: flex;
  flex-direction: column;
}

.rf-avatar-stack__tooltip-avatar-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 12px;
}

.rf-avatar-stack__tooltip-content-container {
  margin-bottom: 16px;
}

.rf-avatar-stack__tooltip-name {
  @include text-s-14();
}

.rf-avatar-stack__tooltip-name {
  @include text-s-14();
  color: var(--basic-primary);
}

.rf-avatar-stack__tooltip-position {
  @include text-s-14;
  color: var(--text-secondary)
}

.rf-avatar-stack__collective-tooltip-wrapper {
  display: flex;
  flex-direction: column;
}
