@import 'src/styles/mixins';

.rf-segment__container {
  position: relative;
  cursor: pointer;
  height: 40px;
  width: 100%;
}

.rf-segment__list {
  display: inline-grid;
  grid-auto-columns: 1fr;
  height: 100%;
  background-color: var(--background-secondary);
  border-radius: 10px;
  transition: 0.2s ease-in-out;

  &:hover {
    background-color: var(--background-tertiary);
  }
}

.rf-segment__list-item {
  position: relative;
  height: 100%;
  grid-row: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: transparent;
  cursor: pointer;
  padding: 10px;
  transition: all 0.2s ease-in-out;
  @include text-s-14;

  &.active {
    background-color: var(--background-primary);
    border-radius: 10px;
    @include text-s-14-bold;
  }
}

.rf-segment__slider {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  border: 2px solid var(--basic-primary);
  transition: 0.25s;
  z-index: 10;
  box-sizing: border-box;
}
