@import "src/styles/mixins";

.rf-segment__container {
  position: relative;
  cursor: pointer;
  height: 30px;
}

.rf-segment__list {
  display: flex;
  align-items: center;
  height: 100%;
  background-color: var(--background-secondary);
  border-radius: 8px;
}

.rf-segment__list-item {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-top: 2px solid var(--background-secondary);
  border-bottom: 2px solid var(--background-secondary);
  background-color: var(--background-secondary);
  cursor: pointer;
  @include text-s-14;

  border-right: 2px solid var(--background-secondary);

  &:first-of-type {
    //border-radius: 8px 0 0 8px;
    border-radius: 8px;
    border-left: 2px solid var(--background-secondary);
  }

  &:last-of-type {
    border-left: 0;
    border-radius: 8px;
    //border-radius: 0 8px 8px 0;
  }

  transition: 0.35s;
}

.rf-segment__list-item.active {
  background-color: var(--background-primary);
  @include text-s-14-bold;
}

.rf-segment__slider {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  border-radius: 8px;
  border: 2px solid var(--basic-primary);
  transition: 0.25s;
  z-index: 10;
}
