@import 'src/styles/mixins';

.rf-segment__container {
  cursor: pointer;
  height: 40px;
  width: 100%;
}

.rf-segment__list {
  position: relative;
  display: inline-grid;
  grid-auto-columns: 1fr;
  height: 100%;
  background-color: var(--background-secondary);
  border-radius: 10px;
  transition: 0.2s ease-in-out;

  &--full {
    width: 100%;
  }

  &:hover:enabled {
    background-color: var(--background-tertiary);
  }
}

.rf-segment__list-item {
  position: relative;
  height: 100%;
  grid-row: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: transparent;
  cursor: pointer;
  padding: 10px;
  transition: all 0.2s ease-in-out;
  @include text-s-14;

  &:first-of-type {
    border-radius: 10px 0 0 10px;
  }

  &:last-of-type {
    border-radius: 0 10px 10px 0;
  }

  &.active {
    border-radius: 10px;
    background-color: var(--background-primary);
    @include text-s-14-bold;
  }

  &.disabled {
    color: var(--text-secondary);
  }
}

.rf-segment__slider {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  border: 2px solid var(--basic-primary);
  transition: 0.175s;
  z-index: 10;
  box-sizing: border-box;
}
