@import 'src/styles/mixins';

.rf-modal {
  background: rgba(2, 2, 3, 0.8);
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  z-index: 1000;
}

.rf-modal__wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  min-width: 300px;
  max-width: 90vw;
  min-height: 72px;
  max-height: 95vh;
  background: var(--background-primary);
  overflow-y: hidden;
}

.rf-modal__content {
  padding: 0px 24px 20px 24px;
  flex-grow: 1;
}

.rf-modal__header {
  padding: 22px 24px 14px 24px;
  @include h2;
  flex-shrink: 0;
}

.rf-modal__close-button {
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 15px;
  right: 15px;
  background-color: transparent;
  outline: none;
  border: 0;
  cursor: pointer;
  z-index: 2;
  color: var(--basic-tertiary);
}

.rf-modal__footer {
  border-top: 1px solid var(--background-tertiary);
  padding: 22px 24px 20px 24px;
  display: flex;
  justify-content: end;
  .story__row {
    justify-content: space-between;
    flex-direction: row-reverse;
    width: 291px;
    .story__col:first-child {
      margin: 0;
      button {
        width: 150px;
      }
    }
    .story__col:last-child {
      margin: 0;
      button {
        width: 125px;
      }
    }
  }
}
