.rf-attachment {
  position: relative;
  display: inline-flex;
  width: fit-content;

  .rf-attachment__loader {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc(100% - 4px);
    height: calc(100% - 4px);
    top: 2px;
    left: 2px;
    border-radius: 20px;
    background: white;
    z-index: 2;
  }
}
